@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import '../fonts/style';
@import '../delivery_unit_icons/style';
// @import '../iconfonts/iconfont'; // Enable this line must also enable @extend ._icon; in layoutbock_style.css

$_dir_root: '../..';

$breakpoint_xsmall: 359px;
$breakpoint_small: 540px;
$breakpoint_medium: 768px;
$breakpoint_large: 940px;
$breakpoint_xlarge: 1280px;

$breakpoint_kahootz_hidesidemenu: 800px; /* 800 - 1200, the actual viewport is 220 smaller*/
$breakpoint_kahootz_medium_viewport: 988px; /*768 + 220*/
$kahootz_sidemenu_width: 220px;

$kahootz_font_family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$kahootz_font_family_light: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$kahootz_text_color: #042e37;


$_color_kahootz_blue: #226fb5;
// $_color_kahootz_blue: #316BB3;
$_color_nhs_blue: $_color_kahootz_blue;
$_color_dark_blue: $_color_kahootz_blue;
$_color_gray: #c2c2c2;
$_color_blue: #1a7b91;
$_color_dark-gray: #939191;
$_color_light-blue: #4ca6b9;
$_color_default: $_color_nhs_blue;

%clear-after{
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

%headingTypography{
  font-family: $kahootz_font_family;
  font-size: 32px;
  font-weight: 600;
  line-height: 1em;
  color: $kahootz_text_color;
  margin: 0;
  margin-bottom: 22px;
}

%textTypography{
  font-family: $kahootz_font_family_light;
  font-size: 16px;
  line-height: 1.375em;
  font-weight: 300;
  color: #050505;
  margin: 0;
  margin-bottom: 22px;
}

%achorTypography{
  text-decoration: none;
  color: $_color_default;
  font-weight: 700;
  cursor: pointer;

  &:hover{
    text-decoration: underline;
  }
}

%buttonTypography{
  @extend %headingTypography;
  font-size: 20px;
  line-height: 1.3315em;
  color: #fff;
  margin: 0;
}

$expoEase: cubic-bezier(0.19, 1, 0.22, 1);

%float_columns_2__even{
  &:after{
    @extend %clear-after;
  }
}
%float_columns_2__even__col{
  width: calc(49.999% - 10px);
  display: block;
  float: left;
  margin-right: 20px;

  @media only screen and (max-width: $breakpoint_small) {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

%float_columns_2__4_1{
  &:after{
    @extend %clear-after;
  }
}

%float_columns_2__3_1{
  &:after{
    @extend %clear-after;
  }
}

%float_columns_2__3_1__col_1{
  width: 37.5%;
  &:after{
    @extend %clear-after;
  }
  @media only screen and (max-width: $breakpoint_small) {
    float: none!important;
    width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
  }
}
%float_columns_2__3_1__col_3{
  width: 62.4999%;
  &:after{
    @extend %clear-after;
  }
  @media only screen and (max-width: $breakpoint_small) {
    float: none!important;
    width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
  }
}

%float_columns_2__4_1__col_1{
  width: 24.67%;
  &:after{
    @extend %clear-after;
  }
  @media only screen and (max-width: $breakpoint_kahootz_medium_viewport) {
    float: none!important;
    width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
  }
}
%float_columns_2__4_1__col_4{
  width: 75.3299%;
  &:after{
    @extend %clear-after;
  }
  @media only screen and (max-width: $breakpoint_kahootz_medium_viewport) {
    float: none!important;
    width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
  }
}

%contrast-color-against-light{
  color: $kahootz_text_color!important;
}
%contrast-color-against-dark{
  color: #fff!important;
  *, &:before{
    color: #fff!important;
  }
  span.like-a{
    color: color(#fff shade(20%)) !important;
  }
}